<nav>
  <ul id="pillNav2" role="tablist">
    <li  role="presentation">
      <button  data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false" routerLink="/Inicio">Inicio</button>
    </li>
    <li  role="presentation">
      <button id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false" routerLink="/RegistroActividad">Registro Actividad</button>
    </li>
    <li  role="presentation">
      <button  id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="true" routerLink="/ConsultaActividad">Consulta Actividad</button>
    </li>
    <li  role="presentation">
      <button id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false" routerLink="/Login">Iniciar Sesión</button>
    </li>
    <!--<li class="nav-item" role="presentation">
      <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Cerrar Sesión</button>
    </li>-->
  </ul>
</nav>
