<div class="contact__wrapper shadow-lg mt-n9">

  <div class="top-content">
    <form class="contactus">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <br>
          <h3><strong>Consulta de Actividades</strong></h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre de la tarea">
        </div>
        <div class="col">
          <input type="date" class="form-control" placeholder="Fecha">
        </div>
        <div class="col">
          <select class="form-control" placeholder="Estado">
            <option selected>Estado</option>
            <option>Pendiente</option>
            <option>Proceso</option>
            <option>Cancelado</option>
            <option>Exitoso</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Persona">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-2">Consultar</button>
        </div>
        <br>
        <div class="form-group row">
          <table class="table table-bordered ">
            <thead class="table table-primary">
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Horas Trabajadas</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Persona</th>
                <th scope="col">Fecha Creacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tarea 1</td>
                <td>4 H</td>
                <td>Tarea 1</td>
                <td>Pendiente</td>
                <td>Persona 1</td>
                <td>2024/05/20</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </form>
  </div>



</div>
